.forum-content {
    display: flex;          /* 使用 Flexbox */
    justify-content: center; /* 水平居中 */
    align-items: center;     /* 垂直居中 */
    height: auto;           /* 设置容器的高度 */
    width: calc(100% - 40px); /* 调整宽度以包含padding和margin */
    background-size: cover;
    margin: 0 20px;
    padding: 0 20px;
    box-sizing: border-box; /* 确保padding被包含在宽度内 */
}

.forum-content img {
    max-width: 100%;        /* 使图片不超过容器宽度 */
    max-height: 50%;       /* 使图片不超过容器高度 */
}

.post-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 40px;
    padding: 20px;
  }
  
  .post-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 20px 15px;
  }
  
  .tag {
    margin-left: auto;
    background: #CC3A45;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
  }
  
  .post-body p {
    line-height: 1.6;
    font-size: 1.2em;
  }
  
  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
  
  .post-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .post-comments p {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
  }
  
  .post-comments form {
    display: flex;
    margin-top: 20px;
    align-items: center; /* 垂直居中 */
    gap: 10px; /* 输入框和按钮之间的间隙 */
    padding: 5px; /* 留点内边距 */
  }
  
  .post-comments input {
    flex-grow: 1;
    margin: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 90%;
    height: 70px;
    font-size: 16px; 
    text-align: left;

    padding: 5px 60px 100px 20px;
  }
  
  .post-comments button {
    padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  }
  
  .name {
    color: #E60000;
    font-size: 1.5em;
    margin: 0;
  }

.title {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 0;
}

.location {
    font-size: 1.5em;
    color: grey;
    margin-left: 10px;
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the start of the container */
    gap: 10px; /* Optional: adds space between the name and location */
  }